:root {
  --yellow: #{$yellow};
  --blue: #{$blue};
  --blue-dark: #{$blue-dark};
  --dark: #{$dark};
  --gray: #{$gray};
  --gray-light: #{$gray-light};
  --light: #{$light};

  --grid-gutter: #{$grid-gutter};
  --side-padding: #{$side-padding};

  @include down(lg) {
    --grid-gutter: #{$grid-gutter-tablet};
  }

  @include down(md) {
    --grid-gutter: #{$grid-gutter-mobile};
    --side-padding: #{$side-padding-mobile};
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  @include focus-ring();

  html[data-whatintent]:not([data-whatintent="keyboard"]) & {
    outline: 0;
  }
}

html {
  font-size: 16px;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  min-width: $min-width;
  color: $body-color;
  background-color: $body-bg;

  //min-height: 1000px;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

textarea {
  resize: vertical;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: $link-color;
}

hr {
  margin: 16px 0;
  border: 0;
  border-top: 1px solid $gray-light;
}

p {
  margin: 0 0 16px;

  //&:last-child {
  //  margin-bottom: 0;
  //}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0 8px;
  line-height: 1.2;
  font-weight: 700;
  font-family: $font-family-secondary;

  //&:first-child {
  //  margin-top: 0;
  //}
}

h1 {
  font-size: $font-size * 2.5;
}
h2 {
  font-size: $font-size * 2;
}
h3 {
  font-size: $font-size * 1.75;
}
h4 {
  font-size: $font-size * 1.5;
}
h5 {
  font-size: $font-size * 1.25;
}
h6 {
  font-size: $font-size;
}
