{
  "printWidth": 80,
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder" : "scripts-markup-styles",
  "svelteBracketNewLine": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
