$gallery-grid-gutter: 20px;

.styleguide {
  padding-top: 10px;
  padding-bottom: 50px;

  &__cols {
    display: flex;
    flex-wrap: wrap;
    margin: ($grid-gutter / -2);

    @supports (grid-area: auto) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gutter;
      margin: 0;

      @include down(md) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__col {
    flex: 1 1 auto;
    width: 50%;
    min-width: 0;
    padding: ($grid-gutter / 2);

    @include down(md) {
      width: 100%;
    }

    @supports (grid-area: auto) {
      width: auto;
      padding: 0;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: $font-size * 2;
  }
  &__subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: $font-size * 1.25;
  }
  &__slide {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    /*margin: 5px;*/
    background-color: #eeeeee;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: ($gallery-grid-gutter / -2);

    @supports (grid-area: auto) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: $gallery-grid-gutter;
      margin: 0;
    }
  }
  &__gallery-item {
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
    width: calc(100% / 3 - #{$gallery-grid-gutter});
    margin: ($gallery-grid-gutter / 2);
    background-color: #eeeeee;

    @supports (grid-area: auto) {
      margin: 0;
      width: auto;
    }

    &:before {
      content: "";
      display: block;
      height: 0;
      padding-bottom: 100%;
    }
  }
  &__gallery-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px;
  }
  &__button {
    flex: 0 0 auto;
    margin: 4px;
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -7px -10px;
  }
  &__option {
    flex: 0 0 auto;
    margin: 7px 10px;
  }
  &__img-in-text {
    width: 50%;
    margin: 0 15px 0 0;
    float: left;
  }
  &__icon-bg {
    background: url("../../assets/img/svelte.svg");
  }
  h2 {
    //@include linear(font-size, 32px, 70px, 320px, 1200px);
    //padding: linear(10px 15px 17px 20px, 40px 60px 68px 80px, 320px, 1200px);
  }
}
